console-apps/.DS_Store
.DS_Store
console-apps/coffee-machine/__pycache__/resources.cpython-311.pyc
console-apps/coffee-machine/.idea/coffee-machine.iml
console-apps/coffee-machine/.idea/misc.xml
console-apps/coffee-machine/__pycache__/resources.cpython-311.pyc
