console-apps/.DS_Store
.DS_Store
console-apps/coffee-machine/__pycache__/resources.cpython-311.pyc
console-apps/coffee-machine/.idea/coffee-machine.iml
console-apps/coffee-machine/.idea/misc.xml
console-apps/coffee-machine/__pycache__/resources.cpython-311.pyc
console-apps/coffee-machine/.idea/inspectionProfiles/profiles_settings.xml
console-apps/coffee-machine/.idea
console-apps/coffee-machine/__pycache__/menu.cpython-311.pyc
console-apps/quiz-game/.idea/vcs.xml
console-apps/quiz-game/.idea/quiz-game.iml
console-apps/quiz-game/.idea/modules.xml
console-apps/quiz-game/.idea/misc.xml
console-apps/quiz-game/.idea/inspectionProfiles/profiles_settings.xml
console-apps/quiz-game/.idea/workspace.xml
console-apps/quiz-game/__pycache__/data.cpython-311.pyc
console-apps/quiz-game/__pycache__/question_model.cpython-311.pyc
console-apps/quiz-game/__pycache__/quiz_brain.cpython-311.pyc
console-apps/turtle/.idea/workspace.xml
console-apps/turtle-apps/.idea
console-apps/turtle-apps/.idea/misc.xml
console-apps/turtle-apps/.idea/misc.xml
console-apps/turtle-apps/.idea/
*.xml
*.xml
*.xml
.idea/
.idea/
console-apps/turtle-apps/.idea
turtle-apps/paddle/__pycache__/paddle.cpython-311.pyc
turtle-apps/paddle/__pycache__/ball.cpython-311.pyc
